.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sidenav-trigger {
    position: fixed;
    left: 15px;
    top: 10px;
}

h1 {
    margin: 4.8rem 0 1.68rem 0;
    font-weight: bold;
}

blockquote {
    font-size: 1.4rem;
}

.sidenav-trigger .material-icons {
    color: #EE6E73;
}

#slide-out .squid {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.wallsquid {
    width: 100%;
}

.section {
    height: auto;
    min-height: 90vh;
}
